# Hidden files
.*

# Exceptions
!.git*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/
installed-files.txt
wheels/

# Virtual environments
.venv/
venv/
ENV/
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Tools caches
.pytest_cache/
.ruff_cache/
.mypy_cache/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Constructor outputs
construct.yaml.bak
installers/

# Logs
*.log
